* {
  margin: 0;
}

body {
  min-width: 500px;
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__left {
  display: flex;
  flex-direction: column;
  flex: 0.9;
  margin-bottom: 20px;
}

.app__right {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app__table-title {
  margin-bottom: 15px;
}

.app__graph-title {
  margin-bottom: 15px;
}

.app__graph {
  flex-grow: 1;
}

.app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.app__header > h1 {
  color: #fc3c3c;
  font-size: 2rem;
}

.app__dropdown {
  background-color: #ffffff;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
